<app-card titulo="Gestionar Programas">
    <div card-body class="grid">
        <app-custom-info-card [description]="inforCardDescription"></app-custom-info-card>
        <div class="col-12">
            <button (click)="changeDisplayFormCreate()" pButton pRipple type="submit" icon="pi pi-plus"
                label="Crear Nuevo" class="p-button-success mr-2"></button>
            <button pButton pRipple type="submit" label=" Eliminar seleccionados" icon="pi pi-trash"
                class="p-button-danger mr-2" (click)="deleteAll()"></button>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <div class="flex flex-column gap-2">

                <p-card>
                    <p-table #dt [value]="programas" [(selection)]="itemsBulkDelete" dataKey="id"
                        styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
                        [paginator]="true"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} elementos"
                        [filterDelay]="0" [globalFilterFields]="['pregunta_nombre','momento']"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                <div class="grid" [style]="{'display': 'flex', 'justify-content': 'space-between'}">
                                    <div class="col-12 md:col-6 lg:col-6" [style]="{'font-size': '20px'}">
                                        Lista de Programas
                                    </div>
                                    <div class="col-12 md:col-6 lg:col-3">
                                        <span [style]="{'width':'100%'}" class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input [style]="{'width':'100%'}" pInputText type="text"
                                                (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                                                placeholder="Busqueda global" />
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th style="width: 5rem">
                                    <p>Indice</p>
                                </th>
                                <th pSortableColumn="name">
                                    <div class="flex justify-content-between align-items-center">
                                        Nombre
                                        <p-sortIcon field="name"></p-sortIcon>
                                        <p-columnFilter type="text" field="name" display="menu"
                                            class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="faculty.name">
                                    <div class="flex justify-content-between align-items-center">
                                        Facultad
                                        <p-sortIcon field="faculty.name"></p-sortIcon>
                                        <p-columnFilter type="text" field="faculty.name" display="menu"
                                            class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th style="width: 8rem;text-align: center">
                                    Editar
                                </th>
                                <th style="width: 8rem; text-align: center">
                                    Eliminar
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-programa let-rowIndex="rowIndex">
                            <tr class="p-selectable-row">
                                <td>
                                    <p-tableCheckbox [value]="programa"></p-tableCheckbox>
                                </td>
                                <td>
                                    {{rowIndex + 1 }}
                                </td>
                                <td>
                                    <span class="p-column-title">programa</span>
                                    {{programa.name}}
                                </td>
                                <td>
                                    <span class="p-column-title">programa</span>
                                    {{programa.faculty.name}}
                                </td>
                                <td style="text-align: center">
                                    <button pButton type="button" icon="pi pi-pencil" class="p-button-warning"
                                        (click)="changeDisplayFormEdit(programa)"></button>
                                </td>
                                <td style="text-align: center">
                                    <p-confirmPopup></p-confirmPopup>
                                    <button pButton type="button" icon="pi pi-trash" class="p-button-danger "
                                        (click)="confirm($event, programa.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No hay datos que mostrar</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>

            </div>
        </div>

    </div>
</app-card>


<p-dialog header="Creando Programas" [(visible)]="displayFormCreate" [style]="{width: width,'text-aling': 'center','min-height':'70vh'}"
    [showHeader]="true" [modal]="true" [dismissableMask]="false" (onHide)="closeDisplayFormCreate()">
    <app-custom-info-card [description]="inforCardDescriptionCreate"></app-custom-info-card>
    <form [formGroup]="formCreate">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Nombre </label>
                    <div class="p-inputgroup my-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <input [style]="{'width':'100%'}" type="text" [style]="{'width':'100%'}"
                            placeholder="Escribe aqui.." formControlName="name" pInputText />
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Facultad </label>
                    <div class="p-inputgroup my-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-dropdown [style]="{'width':'100%'}" formControlName="faculty" [options]="facultades"
                            placeholder="Selecciona una opcion" optionLabel="name"></p-dropdown>
                    </div>
                </div>
            </div>

            <div class="col-12 flex justify-content-center align-items-center">
                <button pButton pRipple type="submit" label="Guardar" icon="pi pi-save" class="p-button-success mx-5"
                    (click)="onSubmit()" [disabled]="!formCreate.valid"></button>
                <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger mx-5"
                    (click)="closeDisplayFormCreate()"></button>
            </div>
        </div>
    </form>

</p-dialog>

<p-dialog header="Actualizando Programas" [(visible)]="displayFormEdit" [style]="{width: width,'text-aling': 'center','min-height':'70vh'}"
    [showHeader]="true" [modal]="true" [dismissableMask]="false" (onHide)="closeDisplayFormEdit()">
    <app-custom-info-card [description]="inforCardDescriptionEdit"></app-custom-info-card>
    <form [formGroup]="formEdit">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Nombre </label>
                    <div class="p-inputgroup my-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <input [style]="{ width: '100%'}" type="text" placeholder="Escribe aqui.."
                            formControlName="name" pInputText />
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Facultad </label>
                    <div class="p-inputgroup my-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-dropdown [style]="{'width':'100%'}" formControlName="faculty" [options]="facultades"
                            placeholder="Selecciona una opcion" optionLabel="name"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-12 flex justify-content-center align-items-center">
                <button pButton pRipple type="submit" label="Editar" icon="pi pi-save" class="p-button-warning mx-5"
                    (click)="handleEdit()" [disabled]="!formCreate.valid"></button>
                <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger mx-5"
                    (click)="closeDisplayFormEdit()"></button>
            </div>

        </div>
    </form>

</p-dialog>
<p-toast></p-toast>