<app-card width="95%" titulo="Aprobación de Actividades">
    <div card-body class="grid">
        <app-custom-info-card [description]="inforCardDescription"></app-custom-info-card>
        <div class="col-12 md:col-12 lg:col-12">
            <div class="flex flex-column gap-2">
                <p-table #dt [value]="actividades" [(selection)]="itemsBulkDelete" dataKey="id"
                    styleClass="p-datatable-customers" [rowHover]="true" [rows]="50" [showCurrentPageReport]="true"
                    [loading]="loading" responsiveLayout="scroll" [paginator]="true" [rowsPerPageOptions]="[10,25,50]"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [filterDelay]="0"
                    [globalFilterFields]="['nombre_actividad']" responsiveLayout="scroll">
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <div class="grid" [style]="{'display': 'flex', 'justify-content': 'space-between'}">
                                <div class="col-12 md:col-6 lg:col-6" [style]="{'font-size': '20px'}">
                                    Lista de Actividades
                                </div>
                                <div class="col-12 md:col-6 lg:col-3">
                                    <span [style]="{'width':'100%'}" class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input [style]="{'width':'100%'}" pInputText type="text"
                                            (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                                            placeholder="Filtrar por nombre" />
                                    </span>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 5rem">
                                <p>Indice</p>
                            </th>
                            <th pSortableColumn="nombre_actividad">
                                Nombre
                            </th>
                            <th style="width: 8rem;text-align: center">
                                Acciones
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-actividad let-rowIndex="rowIndex">
                        <tr>
                            <td>
                                {{rowIndex + 1 }}
                            </td>
                            <td>
                                {{actividad.nombre_actividad}}
                            </td>
                            <td style="text-align: center">
                                <button pButton type="button" icon="pi pi-eye" class="p-button-secondary"
                                    (click)="changeDisplayDetail(actividad.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No hay datos que mostrar</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </div>
</app-card>

<p-dialog header="Detalle Actividad" [(visible)]="displayDetail"
    [style]="{'width': width,'text-aling': 'center', 'min-height':'80vh'}" [showHeader]="true" [modal]="true"
    [dismissableMask]="false" (onHide)="closeDisplayDetail()">

    <div class="grid">
        <div class="col-12">
            <div class="grid p-5 my-2 shadow-3" style="background-color:#fbf9f8;">
                <div class="col-12 flex flex-column justify-content-start align-items-start">
                    <span class="customTitle">Informacion Actividad</span>
                    <div class="flex flex-column justify-content-center align-items-start">
                        <label class="mb-2" [style]="{'font-weight': 'bold'}">Fecha </label>
                        <div class="flex flex-row justify-content-center align-items-center gap-1">
                            <span class="">{{ actividad?.fecha_inicio | date:"dd MMMM, yyyy hh:mm a" |
                                titlecase }}</span>
                            al
                            <span class="">{{ actividad?.fecha_final | date:"dd MMMM, yyyy hh:mm a" |
                                titlecase }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Nombre Actividad </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.nombre_actividad">
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Tipo Actividad </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.tipo_actividad?.name">
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Area </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.area?.name">
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Subarea </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.subarea?.name">
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Sede </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.sede?.name">
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Dependencia </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.dependencia?.name">
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Modalidad </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.modalidad">
                </div>
                <div class="col-12 md:col-12 lg:col-12" *ngIf="actividad?.modalidad === 'Presencial'">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Dirección </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.direccion">
                </div>
                <div class="col-12 md:col-12 lg:col-12" *ngIf="actividad?.modalidad === 'Virtual'">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Enlace Reuión </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.enlace_reunion">
                </div>
                <div class="col-12 md:col-6 lg:col-6" *ngIf="actividad?.modalidad === 'Híbrida'">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Dirección </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.direccion">
                </div>
                <div class="col-12 md:col-6 lg:col-6" *ngIf="actividad?.modalidad === 'Híbrida'">
                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Enlace Reuión </label>
                    <input type="text" style="width: 100%;" pInputText [value]="actividad?.enlace_reunion">
                </div>

                <div class=" col-12 md:col-12 lg:col-6">
                    <div class="flex flex-column">
                        <label class="mb-2" [style]="{'font-weight': 'bold'}">Descripción </label>
                        <textarea [value]="actividad?.descripcion" [rows]="7" [cols]="30" pInputTextarea
                            [autoResize]="true" style="min-height: 180px;"></textarea>
                    </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                    <div class="flex flex-column">
                        <label class="mb-2" [style]="{'font-weight': 'bold'}">Objetivo </label>
                        <textarea [rows]="7" [value]="actividad?.objetivo" [cols]="30" pInputTextarea
                            [autoResize]="true" style="min-height: 180px;"></textarea>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="flex flex-column gap-2">
                        <label class="my-2 customTitle">Servicos Requeridos</label>
                        <p-table [value]="servicios" responsiveLayout="scroll" *ngIf="servicios.length">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="customText">Indice</th>
                                    <th class="customText">Servicio</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-servicio let-rowIndex="rowIndex">
                                <tr>
                                    <td class="customText">{{rowIndex + 1 }}</td>
                                    <td class="customText">{{servicio.name}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="flex flex-column gap-2">
                        <label class="my-2 customTitle">Responsable(s) y Ponente(s)</label>
                        <p-table [value]="responsables" responsiveLayout="scroll" *ngIf="responsables.length">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="customText">Indice</th>
                                    <th class="customText">Nombres y Apellidos</th>
                                    <th class="customText">Correo</th>
                                    <th class="customText">Telefono</th>
                                    <th class="customText">Vinculación</th>
                                    <th class="customText">Rol</th>
                                    <th class="customText">Dedicación (Horas)</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-responsable let-rowIndex="rowIndex">
                                <tr>
                                    <td class="customText">{{rowIndex + 1 }}</td>
                                    <td class="customText">{{responsable.fullname}}</td>
                                    <td class="customText">{{responsable.email}}</td>
                                    <td class="customText">{{responsable.phone ? responsable.phone : "NP"}}</td>
                                    <td class="customText">{{responsable.vinculacion}}</td>
                                    <td class="customText">{{responsable.rol}}</td>
                                    <td class="customText">
                                        {{responsable.dedicacion}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="col-12">
                    <span class="customTitle">Solicitante</span>
                </div>
                <div class="col-12">
                    <input type="text" style="width: 100%;" pInputText
                        [value]="actividad?.userCreate?.person?.fullname">
                </div>
                <div class="col-12 flex justify-content-center align-items-center gap-3">
                    <button pButton pRipple type="submit" label="Aprobar" class="p-button-success"
                        icon="pi pi-check-circle" (click)="handleSubmit(2)"></button>
                    <button pButton pRipple type="submit" label="Rechazar" class="p-button-danger"
                        icon="pi pi-times-circle" (click)="handleSubmit(3)"></button>
                    <button pButton pRipple type="button" label="Volver" class="p-button-outlined p-button-secondary"
                        (click)="closeDisplayDetail()"></button>
                </div>
            </div>

        </div>
    </div>
</p-dialog>