<div id="card-custom">
    <div id="card-header">
        <div class="p-inputgroup flex justify-content-start align-items-center">
            <span style="background-color: #357b89; border:1px solid #357b89; color: white;" class="p-inputgroup-addon">
                <i class="pi pi-book"></i>
            </span>
            <span class="text-white font-bold">
                {{currentActividad?.nombre_actividad}}
            </span>
        </div>
    </div>
    <div class="grid p-2">
        <div class="col-12 flex justify-content-between align-items-center">
            <div class="flex flex-column justify-content-center align-items-start">
                <div class="flex flex-column justify-content-center align-items-start">
                    <label class="customLabel">Area</label>
                    <span class="customText">
                        {{currentActividad?.area?.name}}
                    </span>
                </div>
                <div class="flex flex-column justify-content-center align-items-start">
                    <label class="customLabel">Subarea</label>
                    <span class="customText">
                        {{currentActividad?.subarea?.name}}
                    </span>
                </div>
                <div class="flex flex-column justify-content-center align-items-start">
                    <label class="customLabel">Tipo Actividad</label>
                    <span class="customText">
                        <span class="customText">
                            {{currentActividad?.tipo_actividad?.name}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="flex flex-column justify-content-center align-items-start">
                <div class="flex flex-column justify-content-center align-items-start">
                    <label class="customLabel">Modalidad</label>
                    <span class="customText">
                        {{currentActividad?.modalidad}}
                    </span>
                </div>
                <div class="flex flex-column justify-content-center align-items-start"
                    *ngIf="currentActividad?.modalidad ==='Presencial' || currentActividad?.modalidad === 'Híbrida'">
                    <label class="customLabel">Dirección</label>
                    <span class="customText">
                        {{currentActividad?.direccion}}
                    </span>
                </div>
                <div class="flex flex-row justify-content-start align-items-center"
                    *ngIf="currentActividad?.modalidad ==='Virtual' || currentActividad?.modalidad === 'Híbrida'">
                    <label class="customLabel">Enlace de reunión</label>
                    <button pButton pRipple type="button" icon="pi pi-link"
                        class="p-button-rounded p-button-secondary p-button-text"
                        (click)="redirigirAEnlace(currentActividad?.enlace_reunion)">
                    </button>
                </div>
            </div>

            <div class="flex flex-column justify-content-center align-items-start">
                <div class="flex flex-column justify-content-center align-items-start">
                    <label class="customLabel">Fecha Inicio</label>
                    <span class="customText">
                        {{currentActividad?.fecha_inicio | date:"MMMM dd, yyyy hh:mm a" | titlecase }}
                    </span>
                </div>
                <div class="flex flex-column justify-content-center align-items-start">
                    <label class="customLabel">Fecha Final</label>
                    <span class="customText">
                        {{currentActividad?.fecha_final | date:"MMMM dd, yyyy hh:mm a" | titlecase }}
                    </span>
                </div>
                <div class="flex flex-column justify-content-center align-items-start">
                    <label class="customLabel">Sede</label>
                    <span class="customText">
                        <span class="customText">
                            {{currentActividad?.sede?.name}}
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 flex flex-column justify-content-center align-items-start">
            <label class="customLabel">Objetivo de la actividad</label>
            <span class="customText">
                {{currentActividad?.objetivo}}
            </span>
        </div>
        <div class="col-12 flex flex-column justify-content-center align-items-start">
            <label class="customLabel">Descripición de la actividad</label>
            <span class="customText">
                {{currentActividad?.descripcion}}
            </span>
        </div>
        <div class="col-12 flex justify-content-end align-items-center">
            <button pButton pRipple type="button" 
            [icon]="!actividad?.confirmacion ? 'pi pi-arrow-circle-right' : 'pi pi-thumbs-up'"
            [label]="actividad?.confirmacion ?  'Ya estas inscrito' : 'Asistiré'"
            (click)="!actividad?.confirmacion &&  handleClickAsistire()"></button>
        </div>

    </div>
</div>