<app-card titulo="Actividades" width="80%">
    <div card-body class="grid">
        <app-custom-info-card [description]="inforCardDescription"></app-custom-info-card>
        <div class="col-12 md:col-12 lg:col-12">
            <div class="flex flex-column gap-2">

                <p-card>
                    <p-table #dt [value]="actividades" [(selection)]="itemsBulkDelete" dataKey="id"
                        styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
                        [paginator]="true"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} elementos"
                        [filterDelay]="0"
                        [globalFilterFields]="['nombre_actividad', 'tipo_actividad.name', 'responsable']"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                <div class="grid" [style]="{'display': 'flex', 'justify-content': 'space-between'}">
                                    <div class="col-12 md:col-6 lg:col-6" [style]="{'font-size': '20px'}">
                                        Lista de Actividades
                                    </div>
                                    <div class="col-12 md:col-6 lg:col-3">
                                        <span [style]="{'width':'100%'}" class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input [style]="{'width':'100%'}" pInputText type="text"
                                                (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                                                placeholder="Busqueda global" />
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>

                                </th>
                                <th style="width: 5rem">
                                    <p>Indice</p>
                                </th>
                                <th pSortableColumn="nombre_actividad">
                                    <div class="flex justify-content-between align-items-center">
                                        Actividad
                                        <p-sortIcon field="nombre_actividad"></p-sortIcon>
                                        <p-columnFilter type="text" field="nombre_actividad" display="menu"
                                            class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="tipo_actividad.name">
                                    <div class="flex justify-content-between align-items-center">
                                        Tipo
                                        <p-sortIcon field="tipo_actividad.name"></p-sortIcon>
                                        <p-columnFilter type="text" field="tipo_actividad.name" display="menu"
                                            class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="responsable">
                                    <div class="flex justify-content-between align-items-center">
                                        Responsable
                                        <p-sortIcon field="responsable"></p-sortIcon>
                                        <p-columnFilter type="text" field="responsable" display="menu"
                                            class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="fecha">
                                    <div class="flex justify-content-between align-items-center">
                                        Fecha
                                        <p-sortIcon field="fecha"></p-sortIcon>
                                    </div>
                                </th>

                                <th pSortableColumn="cupos">
                                    <div class="flex justify-content-between align-items-center">
                                        Cupos
                                        <p-sortIcon field="cupos"></p-sortIcon>
                                        <p-columnFilter type="text" field="cupos" display="menu"
                                            class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th style="width: 8rem;text-align: center">
                                    Editar
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-actividad let-rowIndex="rowIndex">
                            <tr class="p-selectable-row">
                                <td>
                                    <p-tableCheckbox [value]="actividad"></p-tableCheckbox>
                                </td>
                                <td>
                                    {{rowIndex + 1 }}
                                </td>
                                <td>
                                    <span class="p-column-title">Nombre de la actividad</span>
                                    {{actividad.nombre_actividad}}
                                </td>
                                <td>
                                    <span class="p-column-title">Tipo de actividad</span>
                                    {{actividad.tipo_actividad.name}}
                                </td>

                                <td>
                                    <span class="p-column-title">Responsable</span>
                                    {{actividad.responsable}}
                                </td>
                                <td>
                                    <span class="p-column-title">Fecha</span>
                                    {{actividad.fecha}}
                                </td>
                                <td>
                                    <span class="p-column-title">Cupos</span>
                                    {{actividad.cupos}}
                                </td>
                                <td style="text-align: center">
                                    <button pButton type="button" icon="pi pi-pencil" class="p-button-warning"
                                        (click)="showEditar(actividad.id, actividad)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No hay datos que mostrar</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>

            </div>
        </div>

    </div>
</app-card>

<p-dialog header="Actualizando Actividad" [(visible)]="display"
    [style]="{ width:width,'text-aling': 'center','min-height':'70vh'}" [showHeader]="true" [modal]="true"
    [dismissableMask]="false" (onHide)="closeEditar()">

    <form [formGroup]="form" *ngIf="tipoActividades.length >= 1; else elseBlock">
        <div class="grid">
            <div class="col-12 md:col-12 lg:col-12 mb-2">
                <div class="grid p-5 shadow-3" style="background-color:#f5f5f58e;">
                    <div class="col-12">
                        <span class="customText">Datos Basicos</span>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="flex flex-column gap-2">
                            <label class="mb-2" [style]="{'font-weight': 'bold'}">Nombre de la actividad</label>
                            <div class="p-inputgroup my-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                        style="color:#f16357;"></i></span>
                                <input type="text" placeholder="Nombre o titulo" [maxlength]="256" pInputText
                                    formControlName="nombre_actividad" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="flex flex-column gap-2">
                            <label class="mb-2" [style]="{'font-weight': 'bold'}">Fecha</label>
                            <div class="p-inputgroup my-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                        style="color:#f16357;"></i></span>
                                <p-calendar [style]="{'width':'100%'}" placeholder="Seleccione la fecha"
                                    formControlName="fecha" dateFormat="mm-dd-yy" inputId="dateformat"></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="flex flex-column gap-2">
                            <label class="mb-2" [style]="{'font-weight': 'bold'}">Hora</label>
                            <div class="p-inputgroup my-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                        style="color:#f16357;"></i></span>
                                <p-calendar [style]="{'width':'100%'}" placeholder="Seleccione la hora"
                                    formControlName="hora" [timeOnly]="true" hourFormat="12"
                                    inputId="timeonly"></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="flex flex-column gap-2">
                            <label class="mb-2" [style]="{'font-weight': 'bold'}">Tipo de actividad</label>
                            <div class="p-inputgroup my-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                        style="color:#f16357;"></i></span>
                                <p-dropdown [style]="{'width':'100%'}" [options]="tipoActividades"
                                    placeholder="Selecciona una opcion" formControlName="tipo_actividad"
                                    optionLabel="name"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="flex flex-column gap-2">
                            <label class="mb-2" [style]="{'font-weight': 'bold'}">Area</label>
                            <div class="p-inputgroup my-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                        style="color:#f16357;"></i></span>
                                <p-dropdown [style]="{'width':'100%'}" [options]="areas" optionLabel="name"
                                    placeholder="Selecciona una opcion" (ngModelChange)="onChangeAreas($event)"
                                    formControlName="area"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="flex flex-column gap-2">
                            <label class="mb-2" [style]="{'font-weight': 'bold'}">Subarea</label>
                            <div class="p-inputgroup my-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                        style="color:#f16357;"></i></span>
                                <p-dropdown [style]="{'width':'100%'}" [options]="subareas" optionLabel="name"
                                    placeholder="Selecciona una opcion" formControlName="subArea"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-12 mb-2">
                <div class="grid p-5 shadow-3" style="background-color:#f5f5f58e;">
                    <div class="col-12">
                        <span class="customText">Mas Información</span>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <div class="flex flex-column gap-2">
                            <div class="flex flex-column gap-2">
                                <label class="mb-2" [style]="{'font-weight': 'bold'}">Lugar donde se llevará a
                                    cabo</label>
                                <div class="p-inputgroup my-1">
                                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                            style="color:#f16357;"></i></span>
                                    <input type="text" placeholder="Direccion o zona en el campus universitario"
                                        pInputText formControlName="lugar" [maxlength]="256" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <div class="flex flex-column gap-2">
                            <label class="mb-2" [style]="{'font-weight': 'bold'}">Cupos disponibles</label>
                            <div class="p-inputgroup my-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                        style="color:#f16357;"></i></span>
                                <input type="number" placeholder="Cantidad" pInputText formControlName="cupos" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <div class="flex flex-column gap-2">
                            <label class="mb-2" [style]="{'font-weight': 'bold'}">Responsable de la
                                actividad</label>
                            <div class="p-inputgroup my-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                        style="color:#f16357;"></i></span>
                                <input type="text" placeholder="Encargado de digirir la actividad" [maxlength]="256"
                                    pInputText formControlName="responsable" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-12 lg:col-12 mb-2">
                <div class="grid p-5 shadow-3" style="background-color:#f5f5f58e;">
                    <div class="col-12">
                        <span class="customText">Información Adicional</span>
                    </div>
                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="flex flex-column gap-2">
                            <label class="mb-2" [style]="{'font-weight': 'bold'}">Descripción</label>
                            <textarea formControlName="descripcion" style="min-height: 200px;"
                                placeholder="Describe brevemente los aspectos importantes" [rows]="7" [cols]="30"
                                pInputTextarea [autoResize]="false" [maxlength]="600" [autoResize]="true"></textarea>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="flex flex-column gap-2">
                            <div class="flex flex-column gap-2">
                                <label class="mb-2" [style]="{'font-weight': 'bold'}">Objetivo de la
                                    actividad</label>
                                <textarea formControlName="objectivo" style="min-height: 200px;"
                                    placeholder="Finalidad con la que se llevará a cabo esta actividad" [rows]="7"
                                    [cols]="30" pInputTextarea [autoResize]="false" [maxlength]="300"
                                    [autoResize]="true"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 flex justify-content-center align-items-center">
            <button pButton pRipple type="submit" label="Actualizar" icon="pi pi-save" class="p-button-warning mx-5"
                (click)="onSubmit()" [disabled]="!form.valid"></button>
            <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger mx-5"
                (click)="closeEditar()"></button>
        </div>
    </form>
    <ng-template #elseBlock>
        <i id="loading" class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    </ng-template>


</p-dialog>
<p-toast></p-toast>