.customTitle {
    line-height: 1.625;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    color: #212121;
}
.customLabel {
    line-height: 1.625;
    font-weight: bold;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    color: #212121;
}

.customText {
    line-height: 1.625;
    font-weight: 400;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    color: #616161;
}


:host ::ng-deep .p-component {
    .p-fileupload-buttonbar{
        background: #eff3f8;
        border: 1px solid #eff3f8;
        padding: 0;
    }
    .p-fileupload-content{
        background: #eff3f8;
        border: 1px solid #eff3f8;
    }
   .p-fileupload.p-fileupload-advanced{
    width: 100%;
   }
}

:host ::ng-deep p-inputmask {
    width: 100%;
    .p-inputmask.p-element {
        width: 100%;
    }
}