<div class="min-w-screen min-h-screen flex justify-content-center align-items-center p-2 md:p-0 lg:p-0">
    <div class="bg-white shadow-6" style="width: 80%; min-height: auto;">
        <img src="assets/images/header.png" alt="Imagen Uniguajira" style="width: 100%; height: auto;">
        <div class="p-5 flex flex-column justify-content-center align-items-center">
            <img src="assets/images/logo.png" alt="Imagen Uniguajira" style="width: auto; height: auto;">
            <p class="customText">
                ¡Gracias por tu paciencia! Estamos verificando la validez de tu información para confirmar que eres un
                graduado
                legítimo de la Universidad de La Guajira. Por favor, no cierres esta ventana ni actualices la página.
                Serás redirigido automáticamente una vez que
                la
                verificación se haya completado con éxito. Este proceso solo tomará unos momentos.
            </p>
            <div *ngIf="true">
                <h1 class="text-center" style="font-size: 2rem; color: #545353;">Verificando...</h1>
                <div class="text-center">
                    <i class="pi pi-spin pi-spinner" style="font-size: 3rem; color: #545353;"></i>
                </div>
            </div>
        </div>
        <img src="assets/images/footer.png" alt="Imagen Uniguajira" style="width: 100%; height: auto;">
    </div>

</div>