<app-card width="95%" titulo="Solicitud de Actividad">
    <form card-body [formGroup]="form">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Nombre de la actividad</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <input type="text" [maxlength]="256" placeholder="Titulo para la actividad" pInputText
                            formControlName="nombre_actividad" />
                    </div>
                    <div *ngIf="form.get('nombre_actividad')?.hasError('required') && form.get('nombre_actividad')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Tipo de actividad</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-dropdown [style]="{'width':'100%'}" [options]="tipo_actividades"
                            placeholder="Selecciona una opcion" formControlName="tipo_actividad"
                            optionLabel="name"></p-dropdown>
                    </div>
                    <div *ngIf="form.get('tipo_actividad')?.hasError('required') && form.get('tipo_actividad')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Area</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-dropdown [style]="{'width':'100%'}" [options]="areas" optionLabel="name"
                            placeholder="Selecciona una opcion" (ngModelChange)="onChangeAreas($event)"
                            formControlName="area"></p-dropdown>
                    </div>
                    <div *ngIf="form.get('area')?.hasError('required') && form.get('area')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Subarea</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-dropdown [style]="{'width':'100%'}" [options]="subareas" optionLabel="name"
                            placeholder="Selecciona una opcion" formControlName="subarea"></p-dropdown>
                    </div>
                    <div *ngIf="form.get('subarea')?.hasError('required') && form.get('subarea')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Fecha Inicio</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-calendar [style]="{'width':'100%'}" formControlName="fecha_inicio" [showTime]="true"
                            [showSeconds]="false" hourFormat="12" inputId="time"
                            placeholder="Seleccione una fecha"></p-calendar>
                    </div>
                    <div *ngIf="form.get('fecha_inicio')?.hasError('required') && form.get('fecha_inicio')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Fecha Final</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-calendar [style]="{'width':'100%'}" formControlName="fecha_final" [showTime]="true"
                            [showSeconds]="false" hourFormat="12" inputId="time"
                            placeholder="Seleccione una fecha"></p-calendar>
                    </div>
                    <div *ngIf="form.get('fecha_final')?.hasError('required') && form.get('fecha_final')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Descripción</label>
                    <textarea formControlName="descripcion" placeholder="Describe brevemente los aspectos importantes"
                        [rows]="7" [cols]="30" pInputTextarea [autoResize]="false" [maxlength]="600"
                        [autoResize]="true"></textarea>
                </div>
            </div>
            <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                    <div class="flex flex-column gap-2">
                        <label class="customLabel">Objetivo</label>
                        <textarea formControlName="objetivo"
                            placeholder="Finalidad con la que se llevará a cabo esta actividad" [rows]="7" [cols]="30"
                            pInputTextarea [autoResize]="false" [maxlength]="300" [autoResize]="true"></textarea>
                    </div>
                    <div *ngIf="form.get('objetivo')?.hasError('required') && form.get('objetivo')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Modalidad</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-dropdown [style]="{'width':'100%'}" [options]="modalidades"
                            placeholder="Selecciona una opcion" formControlName="modalidad" optionLabel="name"
                            (onChange)="onChangeModalidad($event)"></p-dropdown>
                    </div>
                    <div *ngIf="form.get('modalidad')?.hasError('required') && form.get('modalidad')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Servicios Requeridos</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-multiSelect [options]="servicios" formControlName="servicios" placeholder="Escoge una opcion"
                            optionLabel="name" display="chip"
                            [style]="{'minWidth': '14rem', 'width':'100%'}"></p-multiSelect>
                    </div>
                    <div *ngIf="form.get('servicios')?.hasError('required') && form.get('servicios')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Sede</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-dropdown [style]="{'width':'100%'}" [options]="sedes" placeholder="Selecciona una opcion"
                            formControlName="sede" optionLabel="name"></p-dropdown>
                    </div>
                    <div *ngIf="form.get('sede')?.hasError('required') && form.get('sede')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="flex flex-column gap-2">
                    <label class="customLabel">Dependencia</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                style="color:#f16357;"></i></span>
                        <p-dropdown [style]="{'width':'100%'}" [options]="dependencias"
                            placeholder="Selecciona una opcion" formControlName="dependencia"
                            optionLabel="name"></p-dropdown>
                    </div>
                    <div *ngIf="form.get('dependencia')?.hasError('required') && form.get('dependencia')?.touched"
                        class="text-red-500 my-1 text-left">
                        Campo requerido
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12"
            *ngIf="form?.value?.modalidad?.id === 1 || form?.value?.modalidad?.id === 3">
            <div class="flex flex-column gap-2">
                <label class="customLabel">Dirección</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill" style="color:#f16357;"></i></span>
                    <input type="text" [maxlength]="256" placeholder="Ubicación donde se llevará a cabo la actividad"
                        pInputText formControlName="direccion" />
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12"
            *ngIf="form?.value?.modalidad?.id === 2 || form?.value?.modalidad?.id === 3">
            <div class="flex flex-column gap-2">
                <label class="customLabel">Enlace de la Reunión</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill" style="color:#f16357;"></i></span>
                    <input type="text" [maxlength]="256" pInputText formControlName="enlace_reunion" />
                </div>
                <div *ngIf="form.get('modalidad')?.hasError('required') && form.get('modalidad')?.touched"
                    class="text-red-500 my-1 text-left">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="col-12 p-0">
            <div class="flex flex-column gap-2">
                <label class="my-2 customLabel">Responsable(s) y Ponente(s)</label>
                <button pButton pRipple type="button" icon="pi pi-user-plus" label="Agregar"
                    class="p-button-raised p-button max-w-max" (click)="changeDisplayFormPonentes()"></button>
                <p-table [value]="responsables" responsiveLayout="scroll" *ngIf="responsables.length">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="customText">Indice</th>
                            <th class="customText">Nombres y Apellidos</th>
                            <th class="customText">Documento</th>
                            <th class="customText">Correo</th>
                            <th class="customText">Telefono</th>
                            <th class="customText">Vinculación</th>
                            <th class="customText">Rol</th>
                            <th class="customText">Dedicación (Horas)</th>
                            <th class="customText">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-responsable let-rowIndex="rowIndex">
                        <tr>
                            <td class="customText">{{rowIndex + 1 }}</td>
                            <td class="customText">{{responsable.fullname}}</td>
                            <td class="customText">{{responsable.document}}</td>
                            <td class="customText">{{responsable.email}}</td>
                            <td class="customText">{{responsable.phone}}</td>
                            <td class="customText">{{responsable.vinculacion}}</td>
                            <td class="customText">{{responsable.rol}}</td>
                            <td class="customText">
                                {{responsable.dedicacion}}</td>
                            <td>
                                <!-- <button pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-raised p-button-warning m-1"></button> -->
                                <button pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-raised p-button-danger m-1"
                                    (click)="removeResponsable(responsable.document)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
        <div class="col-12">
            <div class="flex justify-content-center aling-items-center my-3">
                <button pButton pRipple type="submit" label="Solicitar Actividad" icon="pi pi-chevron-circle-right"
                    class="p-button-success" (click)="onSubmit()"></button>
            </div>
        </div>
    </form>
</app-card>

<p-dialog header="Registrando Responsable(s) / Ponente(s)" [(visible)]="displayFormPonentes"
    [style]="{'width': width,'text-aling': 'center', 'min-height':'60vh'}" [showHeader]="true" [modal]="true"
    [dismissableMask]="false" (onHide)="handleResetVinculacion()">

    <app-custom-info-card [description]="inforCardDescription"></app-custom-info-card>
    <ng-container *ngIf="!vinculacionSelected">
        <h1 class="customLabel">Selecciona el Tipo de Vinculación</h1>
        <div class="
        flex flex-column justify-content-center aling-items-center gap-2
        md:flex md:flex-row md:justify-content-center md:aling-items-center md:gap-2
        lg:flex lg:flex-row lg:justify-content-center lg:aling-items-center lg:gap-2
        ">
            <button type="submit" class="btn_submit graduado"
                (click)="handleClickVinculacion('Graduado')">Graduado</button>
            <button type="submit" class="btn_submit administrativo"
                (click)="handleClickVinculacion('Administrativo')">Administrativo</button>
            <button type="submit" class="btn_submit externo"
                (click)="handleClickVinculacion('Externo')">Externo</button>
        </div>
    </ng-container>
    <button *ngIf="vinculacionSelected" pButton pRipple type="button" icon="pi pi-arrow-circle-left" label="Volver"
        class="p-button-raised p-button-secondary" (click)="handleResetVinculacion()"></button>

    <ng-container *ngIf="vinculacionSelected === 'Graduado' || vinculacionSelected === 'Administrativo'">
        <app-form-vinculacion [vinculacionSelected]="vinculacionSelected"
            (addResponsable)="addResponsable($event)"></app-form-vinculacion>
    </ng-container>
    <ng-container *ngIf="vinculacionSelected === 'Externo'">
        <app-form-externo (addResponsable)="addResponsable($event)"></app-form-externo>
    </ng-container>
</p-dialog>