<app-card *ngIf="itemsMenu.length > 0; else elseBlockItemsMenu" titulo="Emprendimientos">
    <div card-body class="grid">
        <div class="col-12">
            <p-carousel [value]="emprendimientosDestacados" styleClass="custom-carousel" [numVisible]="3"
                [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="header">

                </ng-template>
                <ng-template let-emprendimiento pTemplate="item">
                    <div class="product-item  flex justify-content-center" (click)="changeDisplayDetail(emprendimiento)">
                        <div class="product-item-content card-hover">
                            <div class="mb-3">
                                <img appImgError src="{{API_URL_MEDIA}}{{emprendimiento.logo}}"
                                    [title]="emprendimiento.nombre_emprendimiento"
                                    [alt]="emprendimiento.nombre_emprendimiento" class="product-image"
                                    style="width: 300px;height: 300px;" />
                            </div>
                            <div>
                                <h3 class="text-center">{{ emprendimiento.nombre_emprendimiento}}</h3>
                                <!-- <p>{{emprendimiento.municipio}}</p> -->
                                <div class="car-buttons mt-5 flex justify-content-center">
                                    <button pButton pRipple type="button" [label]="emprendimiento.municipio"
                                        icon="pi pi-map-marker" class="p-button-secondary p-button-text"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
        <div class="col-12">
            <p-menubar [style]="{'width': '100%;','background':'#f16357'}" [model]="itemsMenu"
                [autoDisplay]="true"></p-menubar>
        </div>
        <div *ngIf="emprendimientos.length > 0; else elseBlockEmprendimientos" class="col-12">
            <div class="flex flex-wrap justify-content-center mt-5" [style]="{'width': '100%', 'margin':'auto'}">
                <div class="card-hover" [style]="{ 'max-width': '25rem', 'margin':'10px' }"
                    *ngFor="let emprendimiento of emprendimientos" (click)="changeDisplayDetail(emprendimiento)">
                    <p-card id="custom" class="text-center" [style]="{ 'width': '300px', 'height':'500px' }">
                        <ng-template pTemplate="header">

                            <!-- <img src="assets/images/pizzeria.jpg" title="Pizzeria Italiana" alt="Pizzeria Italiana"
                                class="product-image"le="max-width: 300px;max-height: 300px;" /> -->

                            <img appImgError src="{{API_URL_MEDIA}}{{emprendimiento.logo}}"
                                [title]="emprendimiento.nombre_emprendimiento"
                                [alt]="emprendimiento.nombre_emprendimiento" class=" product-image"
                                style="width: 300px;height: 300px;" />

                            <h3>{{ emprendimiento.nombre_emprendimiento}}</h3>
                            <div class="car-buttons mt-5 flex justify-content-center">
                                <button pButton pRipple type="button" [label]="emprendimiento.municipio"
                                    icon="pi pi-map-marker" class="p-button-secondary p-button-text"></button>
                            </div>
                        </ng-template>

                        <div>
                            <!-- <p-button type="button" styleClass="p-button-secondary p-button-rounded mr-2"
                                icon="pi pi-eye" (onClick)="changeDisplayDetail(emprendimiento)"></p-button> -->

                            <p-button *ngIf="!emprendimiento.user_voted" type="button"
                                styleClass="p-button p-button-rounded mr-2" icon="pi pi-thumbs-up"
                                (onClick)="handleBtnRecomendar(emprendimiento.id)"></p-button>

                        </div>

                    </p-card>
                </div>
            </div>

        </div>
        <div class="col-12">
            <p-paginator [rows]="5" [totalRecords]="120" [rowsPerPageOptions]="[5,10,20,30]"></p-paginator>
        </div>
    </div>
</app-card>

<ng-template #elseBlockItemsMenu>
    <app-spinner></app-spinner>
</ng-template>
<ng-template #elseBlockEmprendimientos>
    <div class="w-full">
        <p class="text-center">Aun no hay emprendimientos creados.</p>
    </div>
</ng-template>

<p-dialog *ngIf="emprendimientoView" [(visible)]="displayDetail" [style]="{width: width, 'text-aling': 'center'}"
    [showHeader]="false" [modal]="true" [dismissableMask]="true">
    <img [style]="{'width':'100%'}" alt="Card" class="mt-3" src="../../../../../../../assets/images/header.png" />


    <div class="grid">
        <div class="col-12 md:col-12 lg:col-6 flex justify-content-center">
            <img appImgError src="{{API_URL_MEDIA}}{{emprendimientoView.logo}}"
                [title]="emprendimientoView.nombre_emprendimiento" [alt]="emprendimientoView.nombre_emprendimiento"
                class=" product-image" style="width: 300px;height: 300px;" />
        </div>
        <div class="col-12 md:col-12 lg:col-6">
            <p-card>
                <div class="grid">
                    <div class="col-12 md:col-12 lg:col-12 text-center">
                        <h2>{{ emprendimientoView.nombre_emprendimiento}}</h2>
                    </div>
                    <div class="col-12 md:col-12 lg:col-12">
                        {{ emprendimientoView.descripcion}}
                    </div>
                </div>
            </p-card>
        </div>

        <div class="col-12 md:col-12 lg:col-6">
            <div class="grid">
                <div class="col-12 md:col-12 lg:col-12">
                    <p-card>
                        <h2 class=" text-center">Metodos de pago</h2>
                        <ul>
                            <li *ngFor="let forma of emprendimientoView.formas_pago">{{forma}}</li>
                        </ul>
                    </p-card>
                </div>
                <div class="col-12 md:col-12 lg:col-12">
                    <p-card>
                        <h2 class=" text-center">Metodos de entrega</h2>
                        <ul>
                            <li *ngFor="let metodo of emprendimientoView.metodos_entrega">{{metodo}}</li>
                        </ul>
                    </p-card>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-12 lg:col-6">
            <p-card id="contact">
                <h2 class="text-center">Contacto</h2>

                <div class="grid">
                    <div class="col-3 md:col-6 lg:col-6 text-left">
                        <p><strong>Municipio </strong></p>
                        <p><strong>Corregimiento </strong></p>
                        <p><strong>Dirección </strong></p>
                        <p><strong>Correo </strong></p>
                    </div>
                    <div class="col-9 md:col-6 lg:col-6 text-right">
                        <p> {{ emprendimientoView.municipio }}</p>
                        <p> {{ emprendimientoView.corregimiento }}</p>
                        <p> {{ emprendimientoView.direccion }}</p>
                        <p> {{ emprendimientoView.correo_emprendimiento }}</p>
                    </div>
                </div>


                <div *ngIf="emprendimientoView.redes.length > 0" class="flex justify-content-center">

                    <a *ngFor="let red of emprendimientoView.redes" [href]="red.link" Target="_blank">
                        <div *ngIf="red.link !== '' ">
                            <button
                                [title]="red.name === 'Instagram' ? 'Ir a Instagram' : red.name === 'Pagina Web' ? 'Ir a pagina Web' : 'Ir a Facebook'"
                                pButton pRipple type="button"
                                [icon]="red.name === 'Facebook' ? 'pi pi-facebook' : red.name === 'Instagram' ? 'pi pi-instagram' : 'pi pi-globe'"
                                class="mx-2 p-button-rounded"
                                [class]="red.name === 'Instagram' ? 'p-button-help' : red.name === 'Pagina Web' ? 'p-button-secondary' : ''">
                            </button>
                        </div>
                    </a>
                </div>

                <h2 class="text-center">Etiquetas</h2>
                <div class="text-center">
                    <p-chip [label]="emprendimientoView.categoria.name" icon="pi pi-apple" styleClass="m-1"></p-chip>
                    <p-chip [label]="emprendimientoView.subCategoria.name" icon="pi pi-apple" styleClass="m-1"></p-chip>
                </div>
            </p-card>
        </div>
    </div>

    <img [style]="{'width':'100%'}" alt="Card" class="mt-3" src="../../../../../../../assets/images/footer.png" />
</p-dialog>


<p-toast></p-toast>