<div class="main">
    <h1>Editar facultades</h1>
    <p-table [value]="facultades" [tableStyle]="{'min-width': '10rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sede</th>
                <th>Editar</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-facultad>
            <tr>
                <td>{{facultad.id}}</td>
                <td>{{facultad.name}}</td>
                <td>{{facultad.sede}}</td>
                <td> <button (click)="changeDisplay(facultad.id)" pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-warning mx-3"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Editar sede" [(visible)]="display" [modal]="true" [style]="{width: '40vw', height: '40vh'}"
    [draggable]="false" [resizable]="false">

    <div class="grid dialog-form-crear col-12 md:col-12 lg:col-12">
        <form (submit)="submit()" [formGroup]="form">
            <input type="text" pInputText placeholder="Nombre" formControlName="name" class="my-3">
            <p-dropdown [options]="sedes" formControlName="sede" optionLabel="name" placeholder="Selecciona una opcion"></p-dropdown>
            <button pButton pRipple type="submit" label="Editar" class="p-button-warning" [disabled]="!form.valid"></button>
        </form>
    </div>


</p-dialog>

<p-toast></p-toast>