<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>

  <p-dialog [(visible)]="displayMaximizable" [modal]="true"
    [style]="{'width': '77%','max-height':'80%','text-align': 'center','background':'#333333'}"
    contentStyleClass="overflow-y-hidden" [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000"
    [showHeader]="false">

    <img [src]="banner" style="width: 100%;" alt="Banner Uniguajira" title="Banner Uniguajira" />

    <div class="grid grid-nogutter surface-section text-800">
      <div class="col-12 md:col-4 lg:col-4 text-center md:text-center align-items-center ">

        <section class="mr-1 md:mt-4 md:mb-3 ">

          <img id="logo" [src]="logo" alt="Logo Uniguajira" title="Logo Uniguajira" />

          <div [style]="{'margin-top':'-1px'}">

            <div fxLayout="row" class="titleCard my-3">
              <!-- <i class="pi pi-user" style="font-size: 2rem;margin-right: 10px; color:#f16357;"></i> -->
              <h2 class="fondebabutton" style="margin-top: -1px; color:#f16357;">SISTEMA GRADUADOS</h2>
            </div>


            <div class="p-grid p-fluid">
              <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                  <input type="text" pInputText formControlName="username" placeholder="Username">
                </div>

              </div>
              <div class="p-col-12 p-md-4" style="margin-top: 20px;">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                  <input type="password" pInputText formControlName="password" placeholder="Password">
                </div>
              </div>
            </div>
          </div>

          <ng-template [ngIf]="motrar == false">
            <div fxLayout="row" class="titleCard ">
              <div class="grid mt-2">
                <div class="col-12 md:col-12 lg:col-5">
                  <button pButton pRipple type="submit" icon="pi pi-check" label="Entrar" [disabled]="!form.valid"
                    style="width:auto;color:white;background-color:#f16357;border:1px solid #f16357; width:100%"
                    ></button>

                </div>
                <div class="col-12 md:col-12 lg:col-7">
                  <button pButton pRipple type="button" routerLink="/register" icon="pi pi-users"
                    styleClass="p-button-text" style="width:auto;color:#f16357;border:1px solid #f16357; width:100%"
                    label="Registrarse" class="p-button-outlined"></button>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="motrar == true">
            <br>
            <br>
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
          </ng-template>
        </section>
      </div>

      <div id="campus_img" class="col-12 md:col-8 lg:col-8 overflow-hidden"
        style="border-radius: 20px;max-height: 470px">
        <img [src]="campus" alt="Image" class="md:ml-auto block "
          style="clip-path: polygon(8% 0, 100% 0%, 100% 87%, 0 87%);">
      </div>

    </div>

    <img [src]="footer" style="width: 100%;" alt="Footer Uniguajira" title="Footer Uniguajira" />

  </p-dialog>
</form>

<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>