<div class="main">
    <h1>Eliminar subareas</h1>
    <p-table [value]="subareas" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Indice</th>
                <th pSortableColumn="area" style="width:10%">Area <p-sortIcon field="area"></p-sortIcon></th>
                <th pSortableColumn="name" style="width:10%">Subarea <p-sortIcon field="name"></p-sortIcon></th>
                <th style="width:10%">Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subarea let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex }}</td>
                <td>{{ subarea.area}}</td>
                <td>{{ subarea.name}}</td>
                <td> 
                    <p-confirmPopup></p-confirmPopup>
                    <button (click)="confirm($event, subarea.id)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger mx-3"></button>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>

<p-toast></p-toast>