<div class="my-3" *ngFor="let pregunta of preguntas; index as index">

    <div *ngIf="pregunta.depende_respuesta === null; else elseBlock">
        <div *ngIf="pregunta.tipo_pregunta == 'unica respuesta'">
            <h3>{{index }}. {{pregunta.pregunta_nombre}}</h3>
            <div *ngFor="let answer of pregunta.answer_set">
                <p-radioButton name="{{answer.id}}" value="{{answer.id}}" [(ngModel)]="value"></p-radioButton>
                <label>{{ answer.respuesta}} </label>
            </div>
        </div>
        <div *ngIf="pregunta.tipo_pregunta == 'Justifica'">
            <h3>{{index }}. {{pregunta.pregunta_nombre}}</h3>
            <input type="number" name="{{pregunta.pregunta_nombre}}" pInputText placeholder="Respuesta"
                [(ngModel)]="value" />
        </div>

        <div *ngIf="pregunta.tipo_pregunta == 'multiple'">
            <h3>{{index }}. {{pregunta.pregunta_nombre}}</h3>
            <div *ngFor="let answer of pregunta.answer_set">
                <p-checkbox name="{{answer.respuesta}}" [value]="answer.respuesta"
                    [(ngModel)]="value"></p-checkbox>
                <label>{{ answer.respuesta}} </label>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="my-3" *ngIf="value == pregunta.depende_respuesta">

            <div *ngIf="pregunta.tipo_pregunta == 'unica respuesta'">
                <h3>{{index }}. {{pregunta.pregunta_nombre}}</h3>
                <div *ngFor="let answer of pregunta.answer_set">
                    <p-radioButton name="{{answer.id}}" value="{{answer.id}}"
                        [(ngModel)]="value"></p-radioButton>
                    <label>{{ answer.respuesta}} </label>
                </div>
            </div>
            <div *ngIf="pregunta.tipo_pregunta == 'Justifica'">
                <h3>{{index }}. {{pregunta.pregunta_nombre}}</h3>
                <input type="number" name="{{pregunta.pregunta_nombre}}" pInputText placeholder="Respuesta"
                    [(ngModel)]="value" />
            </div>

            <div *ngIf="pregunta.tipo_pregunta == 'multiple'">
                <h3>{{index }}. {{pregunta.pregunta_nombre}}</h3>
                <div *ngFor="let answer of pregunta.answer_set">
                    <p-checkbox name="{{answer.respuesta}}" [value]="answer.respuesta"
                        [(ngModel)]="value"></p-checkbox>
                    <label>{{ answer.respuesta}} </label>
                </div>
            </div>

        </div>
    </ng-template>

</div>