<!-- <img src="assets/images/Uniguaijra_lateral.png" alt="Uniguajira" style="height: auto; width: auto;"> -->

<p-dialog header="Reporte Actividad" [(visible)]="display"
    [style]="{'width': '80%','text-aling': 'center', 'min-height':'80vh','background-color':'#f4f4f4'}"
    [showHeader]="true" [modal]="true" [dismissableMask]="false" [maximizable]="true" (onHide)="closeDisplay.emit()">

    <div class="grid border-1 border-gray-100">
        <div class="col-12 text-center" style="background-color:#cfcfcf;">
            <span class="customTitle">DATOS GENERALES</span>
        </div>
        <div class="col-12">
            <div class="grid">
                <div class="col-12 mb-3
                flex flex-column justify-content-center align-items-start
                md:flex md:flex-row md:justify-content-between md:align-items-center
                lg:flex lg:flex-row lg:justify-content-between lg:align-items-center
                ">
                    <div class="flex flex-column justify-content-center align-items-start">
                        <label class="customLabel">Nombre de Actividad </label>
                        <span class="customText">{{actividad?.nombre_actividad}}</span>
                    </div>
                    <label class="customLabel mr-5">No. {{ actividad?.id}}</label>
                </div>
                <div class="col-12 mb-3 
                flex flex-column justify-content-center align-items-start
                md:flex md:flex-row md:justify-content-between md:align-items-center
                lg:flex lg:flex-row lg:justify-content-between lg:align-items-center
                ">
                    <div class="flex flex-column justify-content-center align-items-start">

                        <div class="flex flex-column justify-content-center align-items-start">
                            <label class="customLabel">Fecha </label>
                            <div class=" customText flex-row justify-content-center align-items-center gap-1">
                                <span class="">{{ actividad?.fecha_inicio | date:"dd MMMM, yyyy hh:mm a" |
                                    titlecase }}</span>
                                al
                                <span class="">{{ actividad?.fecha_final | date:"dd MMMM, yyyy hh:mm a" |
                                    titlecase }}</span>
                            </div>
                        </div>

                        <div class="flex flex-column justify-content-center align-items-start">
                            <label class="customLabel">Sede </label>
                            <span class="customText">{{actividad?.sede?.name}}</span>
                        </div>
                        <div class="flex flex-column justify-content-center align-items-start">
                            <label class="customLabel">Dependencia </label>
                            <span class="customText">{{actividad?.dependencia?.name}}</span>
                        </div>
                    </div>
                    <div class="flex flex-column justify-content-center align-items-start">
                        <div class="flex flex-column justify-content-center align-items-start">
                            <label class="customLabel">Modalidad</label>
                            <span class="customText">
                                {{actividad?.modalidad}}
                            </span>
                        </div>
                        <div class="flex flex-column justify-content-center align-items-start"
                            *ngIf="actividad?.modalidad ==='Presencial' || actividad?.modalidad === 'Híbrida'">
                            <label class="customLabel">Dirección</label>
                            <span class="customText">
                                {{actividad?.direccion}}
                            </span>
                        </div>
                        <div class="flex flex-row justify-content-start align-items-center"
                            *ngIf="actividad?.modalidad ==='Virtual' || actividad?.modalidad === 'Híbrida'">
                            <label class="customLabel">Enlace de reunión</label>
                            <button pButton pRipple type="button" icon="pi pi-link"
                                class="p-button-rounded p-button-secondary p-button-text"
                                (click)="redirigirAEnlace(actividad?.enlace_reunion)">
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-column justify-content-center align-items-start">
                        <div class="flex flex-column justify-content-center align-items-start">
                            <label class="customLabel">Tipo de Actividad </label>
                            <span class="customText">{{actividad?.tipo_actividad?.name}}</span>
                        </div>
                        <div class="flex flex-column justify-content-center align-items-start">
                            <label class="customLabel">Area </label>
                            <span class="customText">{{actividad?.area?.name}}</span>
                        </div>
                        <div class="flex flex-column justify-content-center align-items-start">
                            <label class="customLabel">Subarea </label>
                            <span class="customText">{{actividad?.subarea?.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 flex flex-column justify-content-center align-items-start">
                    <label class="customLabel">Objetivo </label>
                    <span class="customText">{{actividad?.objetivo}}</span>
                </div>
                <div class="col-12 flex flex-column justify-content-center align-items-start">
                    <label class="customLabel">Descripción </label>
                    <span class="customText">{{actividad?.descripcion}}</span>
                </div>

                <div class="col-12 mb-3 
                flex flex-column justify-content-center align-items-start
                md:flex md:flex-row md:justify-content-between md:align-items-center
                lg:flex lg:flex-row lg:justify-content-between lg:align-items-center
                ">
                    <div class="flex flex-column justify-content-center align-items-start">
                        <label class="customLabel">Solicitante </label>
                        <span class="customText">{{actividad?.userCreate?.person?.fullname}}</span>
                    </div>
                    <div class="flex flex-column justify-content-center align-items-start">
                        <label class="customLabel">Estado de Actividad </label>
                        <span class="customText">{{actividad?.estado_actividad?.name}}</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-12 text-center" style="background-color:#cfcfcf;">
            <span class="customTitle">RESPONSABLES</span>
        </div>
        <div class="col-12">
            <p-table [value]="responsables" responsiveLayout="scroll" *ngIf="responsables.length">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="customLabel" style="width: 40px;">Indice</th>
                        <th class="customLabel">Nombres y Apellidos</th>
                        <th class="customLabel">Correo</th>
                        <th class="customLabel">Telefono</th>
                        <th class="customLabel">Vinculación</th>
                        <th class="customLabel">Rol</th>
                        <th class="customLabel">Dedicación (Horas)</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-responsable let-rowIndex="rowIndex">
                    <tr>
                        <td class="customText">{{rowIndex + 1 }}</td>
                        <td class="customText">{{responsable.fullname}}</td>
                        <td class="customText">{{responsable.email}}</td>
                        <td class="customText">{{responsable.phone ? responsable.phone : "NP"}}</td>
                        <td class="customText">{{responsable.vinculacion}}</td>
                        <td class="customText">{{responsable.rol}}</td>
                        <td class="customText">
                            {{responsable.dedicacion}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-12 text-center" style="background-color:#cfcfcf;">
            <span class="customTitle">SOLICITUDES DE APOYO LOGÍSTICO</span>
        </div>
        <div class="col-12">
            <p-table [value]="servicios" responsiveLayout="scroll" *ngIf="servicios.length">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="customLabel" style="width: 40px;">Indice</th>
                        <th class="customLabel">Servicio</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-servicio let-rowIndex="rowIndex">
                    <tr>
                        <td class="customText">{{rowIndex + 1 }}</td>
                        <td class="customText">{{servicio.name}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-12 text-center" style="background-color:#cfcfcf;">
            <span class="customTitle">POBLACIÓN BENEFICIADA</span>
        </div>
        <div class="col-12">
            <p-table [value]="asistencias" responsiveLayout="scroll" *ngIf="asistencias.length">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="customLabel" style="width: 40px;">Indice</th>
                        <th class="customLabel">Tipo</th>
                        <th class="customLabel">Cantidad</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-asistencia let-rowIndex="rowIndex">
                    <tr>
                        <td class="customText">{{rowIndex + 1 }}</td>
                        <td class="customText">{{asistencia.name}}</td>
                        <td class="customText">{{asistencia.cantidad}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-12 flex justify-content-center align-items-center gap-3">
            <button pButton pRipple type="button" label="Descargar" class="p-button p-button-success"
                icon="pi pi-download"></button>
            <button pButton pRipple type="button" label="Volver" class="p-button-outlined p-button-danger"
                (click)="closeDisplay.emit()"></button>
        </div>
    </div>
</p-dialog>

<!-- {{ actividad?.fecha_inicio | date:"MMMM dd, yyyy hh:mm a" |titlecase }} -->