<app-card width="95%" titulo="Reportes de Actividades">
    <div card-body class="grid">
        <app-custom-info-card [description]="inforCardDescription"></app-custom-info-card>

        <div class="col-12 md:col-12 lg:col-12">
            <div class="flex flex-column gap-2">
                <p-table #dt [value]="actividades" [(selection)]="itemsBulkDelete" dataKey="id"
                    styleClass="p-datatable-customers" [rowHover]="true" [rows]="50" [showCurrentPageReport]="true"
                    [loading]="loading" responsiveLayout="scroll" [paginator]="true" [rowsPerPageOptions]="[10,25,50]"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [filterDelay]="0"
                    [globalFilterFields]="['nombre_actividad']" responsiveLayout="scroll">
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <div class="grid" [style]="{'display': 'flex', 'justify-content': 'space-between'}">
                                <div class="col-12 md:col-6 lg:col-6" [style]="{'font-size': '20px'}">
                                    Lista de Actividades
                                </div>
                                <div class="col-12 md:col-6 lg:col-3">
                                    <span [style]="{'width':'100%'}" class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input [style]="{'width':'100%'}" pInputText type="text"
                                            (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                                            placeholder="Filtrar por nombre" />
                                    </span>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 5rem">
                                <p>Indice</p>
                            </th>
                            <th pSortableColumn="nombre_actividad">
                                Nombre
                            </th>
                            <th style="width: 3rem;text-align: center" title="Seguimiento"> SEG </th>
                            <th style="width: 3rem;text-align: center" title="Reporte"> REP </th>
                            <th style="width: 3rem;text-align: center" title="Grafico"> GRA </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-actividad let-rowIndex="rowIndex">
                        <tr>
                            <td>
                                {{rowIndex + 1 }}
                            </td>
                            <td>
                                {{actividad.nombre_actividad}}
                            </td>
                            <td style="text-align: center;">
                                <button pButton type="button" icon="pi pi-eye" class="p-button-secondary"
                                    (click)="changeDisplayDetail(actividad.id)" title="Seguimiento"></button>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" pButton pRipple icon="pi pi-file-pdf" class="mr-2"
                                    tooltipPosition="bottom" title="Reporte"
                                    (click)="changeDisplayReporte(actividad.id)"></button>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" pButton pRipple icon="pi pi-chart-bar" class="p-button-help mr-2"
                                    tooltipPosition="bottom" title="Grafico"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No hay datos que mostrar</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</app-card>

<app-dialog-seguimiento [displayDetail]="displayDetail" [width]="width" [actividad]="actividad" [servicios]="servicios"
    [responsables]="responsables" (closeDisplayDetail)="closeDisplayDetail()"></app-dialog-seguimiento>

<app-dialog-reporte [display]="displayReporte" [width]="width" [actividad]="actividad" [servicios]="servicios"
    [responsables]="responsables" (closeDisplay)="closeDisplayReporte()"></app-dialog-reporte>