<app-card titulo="Asistencias" width="95%" *ngIf="!optionSelected">
    <div card-body class="
        flex flex-column justify-content-center align-items-center gap-3
        md:flex md:flex-column md:justify-content-center md:align-items-center md:gap-3
        lg:flex lg:flex-row lg:justify-content-evenly lg:align-items-center lg:gap-0
        ">
        <div class="option option-qr animated" (click)="handleMethodQr()">
            <img src="assets/vectores/Qr.svg" alt="Leer Qr" class="option-img">
            <span class="option-legend">Leer Codigo QR</span>
        </div>
        <div class="option option-search animated" (click)="handleMethodSearch()">
            <img src="assets/vectores/Search.svg" alt="Busqueda Manual" class="option-img">
            <span class="option-legend">Busqueda Manual</span>
        </div>
    </div>
</app-card>

<app-busqueda-qr *ngIf="optionSelected === 1" (resetOptionSelected)="resetOptionSelected()"></app-busqueda-qr>
<app-busqueda-manual *ngIf="optionSelected === 2" (resetOptionSelected)="resetOptionSelected()"></app-busqueda-manual>