.option {
    width: 40vw;
    border-radius: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    /* transition: transform 0.2s ease; */
}

.option .option-img {
    width: 100px;
    height: 100px;
}

.option:hover {
    /* transform: scale(1.05); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.option.option-qr {
    background-color: #9fc6df;
}

.option.option-search {
    background-color: #feedaf;
}

.option .option-legend {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.625;
}

.animated {
    animation-duration: 1s; 
    animation-fill-mode: both; 
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.option.option-qr {
    background-color: #9fc6df;
    animation-name: slideFromLeft;
}

.option.option-search {
    background-color: #feedaf;
    animation-name: slideFromRight;
}



@media (width < 992px) {
    .option {
        width: 80%;
        height: 400px;
    }
}

@media (width < 430px) {
    .option {
        width: 90%;
        height: 300px;
    }

    .option .option-legend {
        font-size: 1.5rem;
    }

    .option .option-img {
        width: 70px;
        height: 70px;
    }

}