<form [formGroup]="formPonentes">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
            <div class="flex flex-column gap-2">
                <label class="customLabel">Nombres y Apellidos</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                            style="color:#f16357;"></i></span>
                    <input type="text" [maxlength]="200" pInputText formControlName="fullname"
                        placeholder="Nombre compleo" />
                </div>
                <div *ngIf="formPonentes.get('fullname')?.hasError('required') && formPonentes.get('fullname')?.touched"
                    class="text-red-500 my-1 text-left">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex flex-column gap-2">
                <label class="customLabel">No Documento</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                            style="color:#f16357;"></i></span>
                    <input type="number" [maxlength]="100" pInputText formControlName="document"
                        placeholder="Documento de identififación" />
                </div>
                <div *ngIf="formPonentes.get('document')?.hasError('required') && formPonentes.get('document')?.touched"
                    class="text-red-500 my-1 text-left">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex flex-column gap-2">
                <label class="customLabel">Correo</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                            style="color:#f16357;"></i></span>
                    <input type="email" [maxlength]="100" pInputText formControlName="email"
                        placeholder="@gmail.com" />
                </div>
                <div *ngIf="formPonentes.get('email')?.hasError('required') && formPonentes.get('email')?.touched"
                    class="text-red-500 my-1 text-left">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex flex-column gap-2">
                <label class="customLabel">Vinculación</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                            style="color:#f16357;"></i></span>
                    <p-dropdown [style]="{'width':'100%'}" [options]="tipoVinculacion"
                        placeholder="Selecciona una opcion" formControlName="vinculacion"
                        optionLabel="name"></p-dropdown>
                </div>
                <div *ngIf="formPonentes.get('vinculacion')?.hasError('required') && formPonentes.get('vinculacion')?.touched"
                    class="text-red-500 my-1 text-left">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex flex-column gap-2">
                <label class="customLabel">Rol</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                            style="color:#f16357;"></i></span>
                    <p-dropdown [style]="{'width':'100%'}" [options]="roles" placeholder="Selecciona una opcion"
                        formControlName="rol" optionLabel="name"></p-dropdown>
                </div>
                <div *ngIf="formPonentes.get('roles')?.hasError('required') && formPonentes.get('roles')?.touched"
                    class="text-red-500 my-1 text-left">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex flex-column gap-2">
                <label class="customLabel">Telefono</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                            style="color:#f16357;"></i></span>
                    <input type="number" [maxlength]="30" pInputText formControlName="phone"
                        placeholder="(000) 000-0000" />
                </div>
                <div *ngIf="formPonentes.get('phone')?.hasError('required') && formPonentes.get('phone')?.touched"
                    class="text-red-500 my-1 text-left">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex flex-column gap-2">
                <label class="customLabel">Dedicación (Horas)</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                            style="color:#f16357;"></i></span>
                    <input type="number" [maxlength]="5" pInputText formControlName="dedicacion"
                        placeholder="Número de horas" />
                </div>
                <div *ngIf="formPonentes.get('dedicacion')?.hasError('required') && formPonentes.get('dedicacion')?.touched"
                    class="text-red-500 my-1 text-left">
                    Campo requerido
                </div>
            </div>
        </div>
    
        <div class="col-12">
            <div class="flex justify-content-center aling-items-center my-3">
                <button pButton pRipple type="submit" label="Guardar" class="p-button-success"
                    (click)="onSubmitFormPonentes()"></button>
            </div>
        </div>
    
    </div>
</form>