:host ::ng-deep .p-datatable-header {
    background-color: #f16357;
    border: 1px solid #f16357;
}

/* ::ng-deep .p-datatable{
    .p-datatable-thead tr th{
        border: none;
        border-bottom: 1px solid #dee2e6;
        color: #535050;
    }
    .p-datatable-tbody tr td{
        border: none;
        border-bottom: 1px solid #dee2e6;
    }
} */

.customTitle {
    line-height: 1.625;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
    color: #616161;
}

.customText {
    line-height: 1.625;
    font-weight: 400;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    color: #616161;
}

.custom-P {
    line-height: 1.625;
    font-weight: 400;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    color: #000000;
}

.tag-ghost {
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
}

.tag-inicio {
    background-color: #c8e6c9;
    color: #256029;
}

.tag-final {
    background-color: #ffcdd2;
    color: #c63737;
}