<p-card>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
            <h3>Taller SABER-PRO para estudiantes de 5to semestre</h3>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex justify-content-end">
                <div class="mx-2"><strong>Fecha:</strong> 01/06/2023</div>
                <div class="mx-2"><strong>Lugar:</strong> Bloque 6, salon 6304</div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div><strong>Dirige:</strong> Oscar Ivan Arregoces Riveira</div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex justify-content-end">
                <strong class="mx-2">Cupos: </strong> 50
                <div class="mx-2">
                    <div class="mx-2"><strong class="mx-2">Tipo de actividad:</strong>Talleres y capacitaciones</div>
                </div>

            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <p>
                Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de
                un
                sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o
                menos
                normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".
                Estos
                textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de
                páginas
                web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por
                resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas
                versiones
                han evolucionado a través de los años, algunas veces por accidente, otras veces a propósito (por ejemplo
                insertándole humor y cosas por el estilo).
            </p>
        </div>

        <div class="col-12 md:col-6 lg:col-6">
                <p-chip label="Fortalecimiento profesional y personal" icon="pi pi-th-large" styleClass="m-2"></p-chip>
                <p-chip label="Formación y capacitación" icon="pi pi-th-large" styleClass="m-2"></p-chip>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex justify-content-end">
                <div class="mx-2">
                    <button pButton type="button" icon="pi pi-check-circle" label="Activa" class="p-button-success m-2"></button>
                    <button pButton type="button" icon="pi pi-info-circle" label="Mas información" class="m-2"></button>
                </div>

            </div>
        </div>

    </div>
</p-card>