#card-custom {
    border: 1px solid rgba(93, 90, 90, 0.2);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#card-custom #card-header {
    width: 100%;
    min-height: 2.1rem;
    border: 1px solid rgba(93, 90, 90, 0.2);
    border-radius: 5px 5px 0 0;
    background-color: #357b89;
}

#card-custom #card-body {
    padding: 1rem;
}

.customLabel {
    line-height: 1.625;
    font-weight: bold;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    color: #212121;
}

.customText {
    line-height: 1.625;
    font-weight: 400;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    color: #616161;
}

.customTitle {
    line-height: 1.625;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
    color: #535050;
}