<app-card width="95%" titulo="Actualizar Datos">
    <p-tabView card-body>
        <p-tabPanel header="Datos Personales">
            <form [formGroup]="formPersona">
                <div class="grid">
                    <div class="col-12">
                        <div class="grid p-5 shadow-3" style="background-color:#fbf9f8;">
                            <div class="col-12">
                                <span class="customTitle">Información Basica</span>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Nombre Completo </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input [style]="{'width': '100%'}" type="text" pInputText
                                            formControlName="fullname" [maxlength]="150">
                                    </div>
                                    <div *ngIf="formPersona.get('fullname')?.hasError('required') && formPersona.get('fullname')?.touched"
                                        class="text-red-500">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Fecha de nacimiento </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"></i></span>
                                        <p-calendar placeholder="Seleccione una fecha" [style]="{'width': '100%'}"
                                            formControlName="date_of_birth" dateFormat="mm-dd-yy"></p-calendar>
                                    </div>
                                    <div *ngIf="formPersona.get('date_of_birth')?.hasError('fechaPosterior') && formPersona.get('date_of_birth')?.touched"
                                        class="text-red-500">
                                        La fecha no puede ser posterior a la fecha actual
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Sexo </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"></i></span>
                                        <p-dropdown [style]="{'width': '100%'}" placeholder="Selecciona una opcion"
                                            [options]="generos" optionLabel="name"
                                            formControlName="gender_type"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Pais </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon" style="color:#f16357;"><i
                                                class="pi pi-bookmark-fill"></i></span>
                                        <p-dropdown formControlName="nationality" [style]="{'width': '100%'}"
                                            [options]="paises" optionLabel="name" [filter]="true" filterBy="name"
                                            [showClear]="true" placeholder="Selecciona una opción" [maxlength]="100"
                                            (onChange)="onChangePais($event)">
                                            <ng-template pTemplate="selectedCountry">
                                                <div class="country-item country-item-value" *ngIf="selectedCountry">
                                                    <div>{{selectedCountry.name}}</div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-country pTemplate="item">
                                                <div class="country-item">
                                                    <div>{{country.name}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                    <div *ngIf="formPersona.get('nationality')?.hasError('required') && formPersona.get('nationality')?.touched"
                                        class="text-red-500">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Departamento </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon" style="color:#f16357;"><i
                                                class="pi pi-bookmark-fill"></i></span>
                                        <p-dropdown formControlName="departamento" [style]="{'width': '100%'}"
                                            [options]="departamentos" optionLabel="name" [filter]="true" filterBy="name"
                                            [showClear]="true" placeholder="Selecciona una opción" [maxlength]="100"
                                            (onChange)="onChangeDepartamento($event)">
                                            <ng-template pTemplate="selectedDepartamento">
                                                <div class="country-item country-item-value"
                                                    *ngIf="selectedDepartamento">
                                                    <div>{{selectedDepartamento.name}}</div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-country pTemplate="item">
                                                <div class="country-item">
                                                    <div>{{country.name}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                    <div *ngIf="formPersona.get('departamento')?.hasError('required') && formPersona.get('departamento')?.touched"
                                        class="text-red-500">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Ciudad </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon" style="color:#f16357;"><i
                                                class="pi pi-bookmark-fill"></i></span>
                                        <p-dropdown formControlName="municipio" [style]="{'width': '100%'}"
                                            [options]="ciudades" optionLabel="name" [filter]="true" filterBy="name"
                                            [showClear]="true" placeholder="Selecciona una opción" [maxlength]="100">
                                            <ng-template pTemplate="selectedCiudad">
                                                <div class="country-item country-item-value" *ngIf="selectedCiudad">
                                                    <div>{{selectedCiudad.name}}</div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-country pTemplate="item">
                                                <div class="country-item">
                                                    <div>{{country.name}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                    <div *ngIf="formPersona.get('municipio')?.hasError('required') && formPersona.get('municipio')?.touched"
                                        class="text-red-500">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Tipo de documento </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"></i></span>
                                        <p-dropdown [style]="{'width': '100%'}" placeholder="Selecciona una opcion"
                                            [options]="tiposDocumento" optionLabel="name"
                                            formControlName="document_type"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Fecha de Expedición </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"></i></span>
                                        <p-calendar placeholder="Seleccione una fecha" [style]="{'width': '100%'}"
                                            formControlName="fecha_expedicion" dateFormat="mm-dd-yy"></p-calendar>
                                    </div>
                                    <div *ngIf="formPersona.get('fecha_expedicion')?.hasError('fechaPosterior') && formPersona.get('fecha_expedicion')?.touched"
                                        class="text-red-500">
                                        La fecha no puede ser posterior a la fecha actual
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">No. Documento </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input type="text" pInputText formControlName="identification"
                                            [maxlength]="40" />
                                    </div>
                                    <div *ngIf="formPersona.get('identification')?.hasError('required') && formPersona.get('identification')?.touched"
                                        class="text-red-500">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Condición Vulnerable </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"></i></span>
                                        <p-dropdown [style]="{'width': '100%'}" placeholder="Selecciona una opcion"
                                            [options]="condicionesVulnerables" optionLabel="name"
                                            formControlName="condicion_vulnerable"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Dirección </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"></i></span>
                                        <input type="text" pInputText formControlName="address" [maxlength]="50" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="grid p-5 shadow-3" style="background-color:#f5f5f58e;">
                            <div class="col-12">
                                <span class="customTitle">Contacto</span>
                            </div>
                            <div class="col-12 md:col-6 lg:col-6">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Correo Principal </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input type="text" pInputText formControlName="email"
                                            placeholder="Ejemplo: usuario@uniguajira.edu.co" />
                                    </div>
                                    <div *ngIf="formPersona.get('email')?.hasError('required') && formPersona.get('email')?.touched"
                                        class="text-red-500">
                                        Campo requerido
                                    </div>
                                    <div *ngIf="formPersona.get('email')?.hasError('dominioInvalido') && formPersona.get('email')?.touched"
                                        class="text-red-500">
                                        Solo los correos institucionales o gmail son permitidos.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-6">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Correo Secundario </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"></i></span>
                                        <input type="text" pInputText formControlName="email2"
                                            placeholder="Ejemplo: usuario@gmail.com" />
                                    </div>
                                    <div *ngIf="formPersona.get('email2')?.hasError('dominioInvalido') && formPersona.get('email2')?.touched"
                                        class="text-red-500">
                                        Solo los correos institucionales o gmail son permitidos.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-6">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Telefono Principal </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input type="number" pInputText formControlName="phone" [maxlength]="13" />
                                    </div>
                                </div>
                                <div *ngIf="formPersona.get('phone')?.hasError('required') && formPersona.get('phone')?.touched"
                                    class="text-red-500">
                                    Campo requerido
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-6">
                                <div class="flex flex-column gap-2">
                                    <label class="mb-2" [style]="{'font-weight': 'bold'}">Telefono Secundario </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"></i></span>
                                        <input type="number" pInputText formControlName="phone2" [maxlength]="13" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12 flex justify-content-center">
                            <button pButton pRipple type="button" label="Actualizar" class="p-button-success my-5"
                                icon="pi pi-user-edit" (click)="onSubmit()"></button>
                        </div>
                    </div>
                </div>
            </form>
        </p-tabPanel>
        <p-tabPanel header="Información Graduado" *ngIf="InfoCarrera.length">
            <div *ngFor="let info of InfoCarrera; index as i;" class="grid mt-2">
                <div class="col-12">
                    <div class="grid p-5 shadow-3" style="background-color:#f5f5f58e;">
                        <div class="col-12">
                            <span class="customTitle">{{info.programa}}</span>
                        </div>

                        <div class="col-12">
                            <label class="customText mb-2">Proyecto de Grado</label>
                            <div class="p-inputgroup my-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                        style="color:#f16357;"></i></span>
                                <input [style]="{'width': '100%'}" type="text" pInputText
                                    [value]="info.proyecto_grado" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="grid">
                                <div class="col-12">
                                    <label class="customText mb-2">Modalidad de Grado</label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input [style]="{'width': '100%'}" type="text" pInputText
                                            [value]="info.modalidad_grado" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="customText mb-2">Sede</label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input [style]="{'width': '100%'}" type="text" pInputText [value]="info.sede" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="customText mb-2">Dirección
                                        Institucional</label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input [style]="{'width': '100%'}" type="text" pInputText
                                            [value]="info.direccion_intitucional" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="customText mb-2">Sede</label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input [style]="{'width': '100%'}" type="text" pInputText [value]="info.sede" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="grid">
                                <div class="col-12">
                                    <label class="customText mb-2">Periodo de Grado</label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input [style]="{'width': '100%'}" type="text" pInputText
                                            [value]="info.periodo_grado" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="customText mb-2">Numero de Acta</label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input [style]="{'width': '100%'}" type="text" pInputText
                                            [value]="info.numero_acta" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="customText mb-2">Numero de Folio</label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input [style]="{'width': '100%'}" type="text" pInputText
                                            [value]="info.numero_folio" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="customText mb-2">Fecha de Grado </label>
                                    <div class="p-inputgroup my-1">
                                        <span class="p-inputgroup-addon"><i class="pi pi-bookmark-fill"
                                                style="color:#f16357;"></i></span>
                                        <input [style]="{'width': '100%'}" type="text" pInputText
                                            [value]="info.fecha_grado" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</app-card>
